
@font-face {
	font-family:			NeoSansStd-Regular;
	src:					url("../fonts/NeoSansStd-Regular.otf") format("opentype");
}

.reveal {
	border-style:			solid;
	border-width:			40px 0px 0px 0px;
	border-color:			rgb(243,171,0);
	background-image:		url("../img/logo.jpeg");
	background-repeat:		no-repeat;
	background-attachment:	fixed;
	background-position: 	bottom left;
	font-size:				32px;
}

/*.slides {
	width:					100%;
}*/

.reveal .slides section {
	/*margin-top:				-40px;*/
	padding-top:			-60px;
}

.reveal, .reveal h1, .reveal h2, .reveal h3 {
	/*background-color:		rgb(243,171,0);*/
	background-color:		#ffffff; /*#f8f8f8;*/
	font-family:			NeoSansStd-Regular, Helvetica, sans-serif;
	/*text-shadow:			none;*/
	color:					#202020;
}

.reveal h1 {
	font-size:				90px;
	margin-bottom:			80px;
}

.reveal h2 {
	font-size:				64px;
	margin-bottom:			60px;
}

.reveal .progress {
	height:					8px;
	background-color:		#ffffff;
}

.reveal .progress span {
	background-color:		rgb(243,171,0);
}

.hidden {
	visibility:				hidden;
}

.important {
	background-color:		#ffff80;
}

.reveal li {
	/*margin-bottom:			20px;*/
	padding:				10px 0px;
}

.reveal a, .reveal a:visited, .reveal a:active, .reveal a:hover {
	color:					#0000ff;
}

/* EOF */

